@page {
  size: var(--pagedjs-pagebox-width) var(--pagedjs-pagebox-height);

  @top-left-corner {
    content: element(headerRunning);
    align-items: flex-start;
  }

  @top-left {}

  @top-center {}

  @top-right {}

  @top-right-corner {}

  @left-top {}

  @left-middle {}

  @left-bottom {}

  @right-top {}

  @right-middle {}

  @right-bottom {}

  @bottom-left-corner {
    content: element(footerRunning);
    align-items: flex-end;
  }

  @bottom-left {}

  @bottom-center {}

  @bottom-right {}

  @bottom-right-corner {}

}

/* 🌟 Tạo khoảng cách giữa các trang và đổ bóng */
.pagedjs_page {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* .pagedjs_first_page{
  background: blue;
  margin-top: 0px;
} */



.pagedjs_left_page {
  /* background-color: lightgray; */
}

.pagedjs_right_page {
  /* background-color: white; */

}

/* 📌 Header chạy xuyên suốt */
/* header {
  position: running(headerRunning);
  z-index: 2;
  white-space: pre-wrap;
} */


/* 📌 Footer chạy xuyên suốt */
/* footer {
  position: running(footerRunning);
  z-index: 2;
  white-space: pre-wrap;
} */



#hrteHeaderID {
  position: running(headerRunning);
  z-index: 2;
  white-space: pre-wrap;
}



#hrteFooterID {
  position: running(footerRunning);
  z-index: 2;
  white-space: pre-wrap;
}



table {
  /* width: 100%; */
  /* border-collapse: collapse; */
}

tr {
  page-break-inside: avoid;
}



td {
  page-break-inside: avoid;
}