.document{
  // width: 210mm;
  .documentheader{
    background: orange;
  }
  
  .body{
    background: peachpuff;
  }
  
  .footer{
    background: blue;
    // display: none;
  }
}

.documentheader{
  background: orange;
}


.footer{
  background: blue;
  // display: none;
}


@media print {
  .body{
    tfoot {
      display: table-row-group !important;  /* Chặn trình duyệt nhân bản */
      page-break-inside: avoid;   /* Tránh bị chia tfoot giữa các trang */
    }
  }
}


