.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5px;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
  
    .img {
      width: 20px;
      height: 20px;
      border: 0.5px black solid;
      border-radius: 4px;
      padding: 2px;
    }
  
    .active {
      background: white;
    }
  
    .unactive {
      background: white;
      opacity: 30%;
    }
  
    &:hover {
      transform: scale(1.2);
    }
  }