// .headerContainer{
//     position:absolute;
//     top: 0;
//     left: 0;
// }


.footerContainer{
    position: absolute;
    bottom:0%;
    left:0%;
    z-index: 2;
    // margin-left: 30mm;
    width: 100%;
    overflow: hidden; /* Ẩn phần văn bản vượt quá chiều cao */
    white-space: nowrap;
    &:hover{
        border: 1px solid black;
    }
}