.container {
  // padding: 20px;
  // width: auto;
  // display: flex;
  // flex-direction: row;



  position: relative;
  // border: 1px solid #351111;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 5px;




  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5px;
    display: flex;
    align-items: center;

    width: 25px;
    height: 25px;

    &:hover {
      transform: scale(1.2);
    }

    img {
      width: 20px;
      height: 20px;
      border: 0.5px black solid;
      border-radius: 4px;
      padding: 2px;
    }
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}