$FONTFAMILY :('Arial',
    'Verdana',
    'Helvetica',
    'Times New Roman',
    'Courier New',
    'Georgia',
    'Palatino',
    'Garamond',
    'Comic Sans MS',
    'Trebuchet MS',
    'Arial Black',
    'Impact',
);


$FONTSIZES : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100);


$COLORS : (
    "#FFFFFF",
    "#000000",
    "#FF0000",
    "#DC143C",
    "#FF7F50",
    "#FFA500",
    "#FA8072",
    "#FFD700",
    "#FFFF00",
    "#F0E68C",
    "#00FF00",
    "#98FF98",
    "#90EE90",
    "#006400",
    "#008080",
    "#00FFFF",
    "#ADD8E6",
    "#0000FF",
    "#000080",
    "#00008B",
    "#FF00FF",
    "#FFC0CB",
    "#800080",
    "#DDA0DD",
    "#E6E6FA",
    "#A52A2A",
    "#D2691E",
    "#808080",
    "#A9A9A9",
    "#D3D3D3",
    "#C0C0C0",
    "#F5F5DC",
    "#808000"
);



$LINEHEIGHT: (
    'normal',
    0.5,
    1,
    1.5,
    2,
    2.5,
    3,
    3.5,
);

$MARGINLEFT: (
    '0px',
    '10px',
    '20px',
    '30px',
    '40px',
    '50px',
    '60px',
    '70px',
    '80px',
    '90px',
    '100px',
    '110px',
    '120px',
    '130px',
    '140px',
    '150px',
    '160px',
    '170px',
    '180px',
    '190px',
    '200px',
    '210px',
    '220px',
    '230px',
    '240px',
    '250px',
    '260px',
    '270px',
    '280px',
    '290px',
    '300px',
);