
@page {
  /* size: var(--pagedjs-pagebox-width) var(--pagedjs-pagebox-height); */
  size: A5;
  /* padding-top: var(--pagedjs-padding-top);
  padding-bottom: 10mm;
  padding-left: 10mm;
  padding-right: 10mm; */


  /* margin-top: var(--pagedjs-margin-top);
  margin-bottom: var(--pagedjs-margin-bottom);
  margin-left: var(--pagedjs-margin-left);
  margin-right: var(--pagedjs-margin-right); */

  /* padding-top: var(--pagedjs-padding-top);
  padding-bottom: var(--pagedjs-padding-bottom);
  padding-left: var(--pagedjs-padding-left);
  padding-right: var(--pagedjs-padding-right); */


  @top-left-corner {
    content: element(headerRunning);
  }

  @top-left {
    content: "";
  }

  @top-center {
    content: "";
  }

  @top-right {
    content: "";
  }

  @top-right-corner {
    content: "";
  }

  @left-top {
    content: "";
  }

  @left-middle {
    content: "";
  }

  @left-bottom {
    content: "";
  }

  @right-top {
    content: "";
  }

  @right-middle {
    content: "";
  }

  @right-bottom {
    content: "";
  }

  @bottom-left-corner {
    content: element(footerRunning);
  }

  @bottom-left {
    content: "";
  }

  @bottom-center {
    content: "";
  }

  @bottom-right {
    content: "";
  }

  @bottom-right-corner {
    /* content: "Trang " counter(page) " / " counter(pages);
    z-index: 10; */
  }

}

/* 🌟 Tạo khoảng cách giữa các trang và đổ bóng */
.pagedjs_page {
  /* background: white; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  /* Đổ bóng */
  margin-bottom: 20px !important;
  /* margin-bottom: 20px */
}

.pagedjs_left_page {
  /* background-color: lightgray; */
}

.pagedjs_right_page {
  /* background-color: white; */

}

.pagedjs_margin-bottom-left-corner-holder {
  position: relative;
}






.pagedjs_margin-bottom-left-corner-holder::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Khớp với chiều rộng phần tử chính */
  height: 100%;
  /* Khớp với chiều cao phần tử chính */
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Trang2 " counter(page) " / " counter(pages);
  text-align: center;
  font-size: 12px;
  color: gray;
  z-index: 10;
}

.pagedjs_margin-bottom-right-corner-holder::after {
  content: "Trang2 " counter(page) " / " counter(pages);
  text-align: center;
  font-size: 12px;
  z-index: 10;
}

.pagedjs_margin-bottom-right::after {
  content: "Trang " counter(page) " / " counter(pages);
  text-align: center;
  font-size: 12px;
  z-index: 10;
}

/* 📌 Header chạy xuyên suốt */
header {
  position: running(headerRunning);
  width: var(--pagedjs-pagebox-width);
  text-align: center;
  height: var(--pagedjs-margin-top);
  z-index: 2;

}


/* 📌 Footer chạy xuyên suốt */
footer {
  position: running(footerRunning);
  width: var(--pagedjs-pagebox-width);
  text-align: center;
  height: var(--pagedjs-margin-bottom);
  z-index: 2;

}




