.colorPickerContainer {
  position: relative;
  // display: inline-block;
  // border: 1px black solid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .colorTrigger {
    width: 100%;
    height: 100%;
    min-height: 10px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s ease;

    &:hover {
      border-color: #999;
      transform: none;
    }
  }

  &:hover {
    border-color: #999;
    transform: none;
  }

}


.picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 16px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .colorInput {
    margin-bottom: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }

  .presets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .presetsHeader {
      margin-bottom: 8px;
      font-size: 14px;
      color: #666;
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 8px;
      padding: 5px;
      max-height: calc(6 * 40px + 2 * 8px);
      overflow-y: hidden;
      overflow-x: hidden;
      justify-content: center; /* Căn giữa các phần tử trong lưới */
      align-items: center; 
      &:hover {
        overflow-y: auto;
        scrollbar-gutter: stables;
        max-height: calc(6 * 40px);
      }
      
      
      .presetColor {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid #eee;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        &[data-selected="true"] {
          border: 2px solid #333;
          box-shadow: 0 0 0 1px white;
          transform: scale(0.8);
          box-sizing: border-box;
        }
      }
    }
  }
}