.headerContainer{
    position: absolute;
    top:0%;
    left:0%;
    z-index: 2;
    width: 100%;
    overflow: hidden; /* Ẩn phần văn bản vượt quá chiều cao */
    white-space: prewrap;
    border-radius: 0px;
    text-align: left;
    display: block;
    box-sizing: border-box;
}