.container {
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    // background-color: aquamarine;
    border-collapse: collapse;
    // width: 80%;
    // max-width: 600px;
    border-radius: 3px;
    // overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);

    tr {

      // background-color: greenyellow;
      &:nth-child(even) {
        // background-color: lightgreen;
      }
    }

    td {
      padding: 5px;
      text-align: left;
      border: 2px solid black;
      font-size: 16px;
      font-weight: bold;

      &:first-child {
        background-color: #f0f0f0;
        font-weight: bold;
      }

      .colorPicker {
        width: 100%;
        height: 20px;
        border: 1px solid black;
        border-radius: 3px;
      }

    }
  }
}