.fontColorPicker {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    display: inline;
    width: fit-content;
    height: 25px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 80px;
    height: 26px;
}