.container{
    display: flex;
    flex-direction: row;
    width: auto;
  
    .insertLinkContainer{
        position: relative;
        // border: 1px solid #351111;
        border-radius: 5px;
        // padding: 2px;
        display: inline-block;
        // flex-direction: row;
        align-items: center;
        width: auto;
      
        button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5px;
            display: flex;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
                border: 0.5px black solid;
                border-radius: 4px;
                padding: 2px;
            }
        }
        
        .insertLink{
            position:absolute;
            top: 100%;
            left: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            background: white;
            z-index: 100;
            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 0.5px;
                display: flex;
                align-items: center;
                img{
                    width: 20px;
                    height: 20px;
                    border: 0.5px black solid;
                    border-radius: 4px;
                    padding: 2px;
                }
            }
            input{
                // width: 20px;
                // height: 20px;
                border: 0.5px black solid;
                border-radius: 4px;
                padding: 2px;
            }
            

        }

    }

    .buttonremoveLink{
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5px;
        display: flex;
        align-items: center;
        img{
            width: 20px;
            height: 20px;
            border: 0.5px black solid;
            border-radius: 4px;
            padding: 2px;
        }

    }
  }